{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off"
  },
  "globals": {
    "__gqlQuery": true
  }
}
